$primarycolor: navy;
$likeBtnColor: teal;
$unlikeBtnColor: red;

.imgContainer {
  display: flex;
  flex-direction: row;
  // height: 80%;
  // width: auto;
  overflow: auto;
}

.allImages {
  display: flex;
  // position: relative;
  overflow: auto;
}

.cardContainer {
  display: inline-block;
  position: relative;
}

.imgCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 460px;
  border: solid;
  border-radius: 25px;
  margin: 5px;
  // animation-name: cardShrink;
  // animation-duration: 1s;
  z-index: 0;
}

// .imgCard:hover {
//   animation-name: cardGrow;
//   animation-duration: 1s;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   height: 600px;
//   width: 600px;
//   z-index: 1;
// }

.imgDisplay {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: auto;
  justify-content: center;
  align-items: center;
}

.img {
  width: 55%;
  height: auto;
}

.imgReflection {
  width: 55%;
  height: auto;
}

.likeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likeBtnClass {
  background-color: $likeBtnColor;
  width: 150px;
}

.unlikeBtnClass {
  background-color: $unlikeBtnColor;
  width: 150px;
}

.iconHeart {
  color: rgba(253, 253, 253, 0);
  display: none;
  //   position: relative;
  //   top: -18px;
}

.unlikeHeart {
  position: relative;
  display: none;
  //   top: -18px;
  animation-name: unlike;
  animation-duration: 1s;
}

.likeHeart {
  position: relative;
  display: none;
  //   top: -18px;
  animation-name: like;
  animation-duration: 1s;
}

@keyframes cardGrow {
  from {
    // position: absolute;
    height: 400px;
    width: 400px;
    z-index: 0;
  }
  to {
    height: 600px;
    width: 600px;
    // position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

@keyframes cardShrink {
  from {
    height: 600px;
    width: 600px;
    // position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  to {
    // position: absolute;
    height: 400px;
    width: 400px;
    z-index: 0;
  }
}

@keyframes like {
  from {
    display: block;
    top: -18px;
    // left: -32px;
    color: rgba(253, 253, 253, 0);
  }
  to {
    top: -40px;
    // left: -32px;
    display: none;
    color: rgba(254, 0, 0, 1);
  }
}

@keyframes unlike {
  from {
    display: block;
    top: -40px;
    // left: -32px;
    color: rgba(254, 0, 0, 1);
  }
  to {
    top: -18px;
    // left: -32px;
    display: none;
    color: rgba(253, 253, 253, 0);
  }
}
