.imgContainer {
  display: flex;
  flex-direction: row;
  overflow: auto; }

.allImages {
  display: flex;
  overflow: auto; }

.cardContainer {
  display: inline-block;
  position: relative; }

.imgCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 460px;
  border: solid;
  border-radius: 25px;
  margin: 5px;
  z-index: 0; }

.imgDisplay {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: auto;
  justify-content: center;
  align-items: center; }

.img {
  width: 55%;
  height: auto; }

.imgReflection {
  width: 55%;
  height: auto;
  transform: rotateX(180deg); }

.likeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.likeBtnClass {
  background-color: teal;
  width: 150px; }

.unlikeBtnClass {
  background-color: red;
  width: 150px; }

.iconHeart {
  color: rgba(253, 253, 253, 0);
  display: none; }

.unlikeHeart {
  position: relative;
  display: none;
  animation-name: unlike;
  animation-duration: 1s; }

.likeHeart {
  position: relative;
  display: none;
  animation-name: like;
  animation-duration: 1s; }

@keyframes cardGrow {
  from {
    height: 400px;
    width: 400px;
    z-index: 0; }
  to {
    height: 600px;
    width: 600px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; } }

@keyframes cardShrink {
  from {
    height: 600px;
    width: 600px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; }
  to {
    height: 400px;
    width: 400px;
    z-index: 0; } }

@keyframes like {
  from {
    display: block;
    top: -18px;
    color: rgba(253, 253, 253, 0); }
  to {
    top: -40px;
    display: none;
    color: #fe0000; } }

@keyframes unlike {
  from {
    display: block;
    top: -40px;
    color: #fe0000; }
  to {
    top: -18px;
    display: none;
    color: rgba(253, 253, 253, 0); } }
