.imgContainer {
  display: flex;
  flex-direction: column;
  height: 80%; }

.allImages {
  display: flex;
  flex-direction: row;
  overflow: auto; }

.imgCard {
  height: 700px;
  width: auto;
  border: solid;
  border-radius: 25px;
  margin: 5px; }

.img {
  height: 50%;
  width: auto; }

.likeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.likeBtnClass {
  background-color: teal;
  width: 150px; }

.unlikeBtnClass {
  background-color: red;
  width: 150px; }

.iconHeart {
  color: rgba(253, 253, 253, 0);
  display: none; }

.unlikeHeart {
  position: relative;
  display: none;
  animation-name: unlike;
  animation-duration: 1s; }

.likeHeart {
  position: relative;
  display: none;
  animation-name: like;
  animation-duration: 1s; }

@keyframes like {
  from {
    display: block;
    top: -18px;
    color: rgba(253, 253, 253, 0); }
  to {
    top: -40px;
    display: none;
    color: #fe0000; } }

@keyframes unlike {
  from {
    display: block;
    top: -40px;
    color: #fe0000; }
  to {
    top: -18px;
    display: none;
    color: rgba(253, 253, 253, 0); } }
