.likeBtnClass {
  background-color: teal; }

.unlikeBtnClass {
  background-color: red; }

.unlikeHeart {
  position: relative;
  animation-name: unlike;
  animation-duration: 1s; }

.likeHeart {
  position: relative;
  animation-name: like;
  animation-duration: 1s; }

@keyframes like {
  from {
    display: block;
    top: 0px; }
  to {
    top: -35px;
    display: none; } }

@keyframes unlike {
  from {
    display: block;
    top: -35px; }
  to {
    top: 0px;
    display: none; } }
